<h1>Promo</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Promo_id</th>
            <td>{{ entity.promoid }}</td>
        </tr>
        <tr>
            <th>Sp_id</th>
            <td>{{ entity.spid }}</td>
        </tr>
        <tr>
            <th>Promo_loc_id</th>
            <td>{{ entity.promolocid }}</td>
        </tr>
        <tr>
            <th>Promo_title</th>
            <td>{{ entity.promotitle }}</td>
        </tr>
        <tr>
            <th>Promo_body</th>
            <td>{{ entity.promobody }}</td>
        </tr>
        <tr>
            <th>Promo_disclaimer</th>
            <td>{{ entity.promodisclaimer }}</td>
        </tr>
        <tr>
            <th>Promo_start_date</th>
            <td>{{ entity.promostartdate|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Datetime</th>
            <td>{{ entity.datetime }}</td>
        </tr>
        <tr>
            <th>Promo_end_date</th>
            <td>{{ entity.promoenddate|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Promo_amount</th>
            <td>{{ entity.promoamount }}</td>
        </tr>
        <tr>
            <th> discount_type</th>
            <td>{{ entity. discounttype }}</td>
        </tr>
        <tr>
            <th>Promo_qty</th>
            <td>{{ entity.promoqty }}</td>
        </tr>
        <tr>
            <th>Promo_status</th>
            <td>{{ entity.promostatus }}</td>
        </tr>
        <tr>
            <th>Promo_image</th>
            <td>{{ entity.promoimage }}</td>
        </tr>
        <tr>
            <th>Promo_service_id</th>
            <td>{{ entity.promoserviceid }}</td>
        </tr>
        <tr>
            <th> promo_limit_qty</th>
            <td>{{ entity. promolimitqty }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('promo') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('promo_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('promo_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
